@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Pages/Shared/_AccounntLayout.cshtml";
}
<div class="login">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" type="text" placeholder="email" />
        <label class="hvr-sweep-to-bottom">
            <input type="submit" value="Submit" />
        </label>
    </form>
</div>