@page
@inject SkaiLab.Invoice.Models.IAppResource ShareLocalizer
@model ForgotPasswordModel
@{
    ViewData["Title"] = @ShareLocalizer.GetResource("Forgot your password?");
    Layout = "~/Pages/Shared/_AccounntLayout.cshtml";
}
<div class="container  unified_container ">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img alt="Company Logo" class="companyLogo" src="~/logo.jpeg">
                    <div id="api" data-name="Unified">
                        <form method="post" asp-action="./Login?culture=@Model.Culture">
                            <div class="localAccount" role="form">
                                <div class="intro">
                                    <h2>
                                        @ViewData["Title"]
                                    </h2>
                                </div>
                                @if (Model.Errors.Any())
                                {
                                    <div class="text-danger validation-summary-errors">
                                        <ul>
                                            @foreach (var error in Model.Errors)
                                            {
                                                <li>@error</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="entry">
                                    <div class="entry-item">
                                        <input asp-for="Input.Email" type="text" class="input-text" placeholder="​@ShareLocalizer.GetResource("Email")" />
                                    </div>
                                    <div class="buttons">
                                        <button id="next" type="submit" tabindex="1">@ShareLocalizer.GetResource("Submit")</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
