@page
@model RegisterModel
@{
    ViewData["Title"] = @ShareLocalizer.GetResource("Register");
    Layout = "~/Pages/Shared/_AccounntLayout.cshtml";
}
@inject SkaiLab.Invoice.Models.IAppResource ShareLocalizer
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-action="./Register?culture=@Model.Culture&offerType=@Model.OfferType&subscriptionType=@Model.SubscriptionType">
    <div class="container unified_container ">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img alt="Company Logo" class="companyLogo" src="~/logo.jpeg">
                        <div id="api" data-name="Unified">
                            <div class="localAccount" role="form">
                                <div class="intro">
                                    <h2>
                                        @ViewData["Title"]
                                    </h2>
                                </div>
                                @if (Model.Errors.Any())
                                {
                                    <div class="text-danger validation-summary-errors">
                                        <ul>
                                            @foreach(var error in Model.Errors)
                                            {
                                                <li>@error</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="entry">
                                    <div class="entry-item">
    
                                        <input asp-for="Input.Name" type="text" autocomplete="off" class="input-text" placeholder="​@ShareLocalizer.GetResource("Name")" />
                                    </div>
                                    <div class="entry-item">
                                        <input asp-for="Input.PhoneNumber" type="text" autocomplete="off" class="input-text" placeholder="​@ShareLocalizer.GetResource("Phone Number")" />
                                    </div>
                                    <div class="entry-item">
                                        <input asp-for="Input.Email" type="text" class="input-text" placeholder="​@ShareLocalizer.GetResource("Email")" />
                                    </div>
                                    <div class="entry-item">
                                     
                                        <input type="password" class="input-text" autocomplete="off" asp-for="Input.Password" placeholder="​@ShareLocalizer.GetResource("Password")">
                                    </div>
                                    <div class="entry-item">
                                      
                                        <input type="password" class="input-text" autocomplete="off" asp-for="Input.ConfirmPassword"  placeholder="​@ShareLocalizer.GetResource("Confirm Password")">
                                    </div>

                                    <div class="buttons">

                                        <button id="next">​@ShareLocalizer.GetResource("Next")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>