@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Shared/_AccounntLayout.cshtml";
}
<div class="login">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" type="email" placeholder="email" />
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" placeholder="Password" type="password" />
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" type="password" />
        <label class="hvr-sweep-to-bottom">
            <input type="submit" value="Reset" />
        </label>
    </form>
</div>