<form class="forms-sample" #f="ngForm" novalidate>
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-toggle btn btn-primary">{{ 'textTranslate.saveAs' | translate }}</button>
                    <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu">
                        <button type="submit" (click)="onSaveAsDraw(false)" class="dropdown-item">{{ 'textTranslate.saveAsDrawAndNew' | translate }}</button>
                        <button type="submit" (click)="onSaveAsDraw(true)" class="dropdown-item">{{ 'textTranslate.saveAsDrawAndClose' | translate }}</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="submit" *ngIf="permission.approvaPayPurchaseSale" (click)="onSaveForApproval(false)" class="dropdown-item">{{ 'textTranslate.saveAndSubmitForApprovalAndNew' | translate }}</button>
                        <button type="submit" *ngIf="permission.approvaPayPurchaseSale" (click)="onSaveForApproval(true)" class="dropdown-item">{{ 'textTranslate.saveAndSubmitForApprovalAndClose' | translate }}</button>
                    </div>
                </div>
                <div class="btn-group" *ngIf="permission.approvaPayPurchaseSale">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-toggle btn btn-primary">{{ 'textTranslate.approveAs' | translate }}</button>
                    <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu">
                        <button type="submit" (click)="onSaveApproval(false)" class="dropdown-item">{{ 'textTranslate.approveAndNew' | translate }}</button>
                        <button type="submit" (click)="onSaveApproval(true)" class="dropdown-item">{{ 'textTranslate.approveAndClose' | translate }}
                            </button>
                    </div>
                </div>
                <button type="submit" (click)="onSavePrint()" class="btn btn-primary">{{ 'textTranslate.saveAndPrint' | translate }}</button>
                <a href="javascript:history.back()" class="btn btn-secondary">{{ 'textTranslate.cancel' | translate }}</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="vendor">{{ 'textTranslate.vendor' | translate }}<span class="text-danger"> * </span></label>
                            <ngx-select-dropdown (change)="onSelectedVendor($event)" [(ngModel)]="selectedVendor"
                                [config]="dropdownConfig" name="vendor" [options]="purchaseOrderLookup.vendors">
                            </ngx-select-dropdown>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="date">{{ 'textTranslate.date' | translate }}<span class="text-danger"> * </span></label>
                            <angular2-date-picker [(ngModel)]="purchaseOrder.date" name="orderDate"
                                [settings]="datePickerOption"></angular2-date-picker>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="deliveryDate">{{ 'textTranslate.deliveryDate' | translate }}</label>
                            <angular2-date-picker [(ngModel)]="purchaseOrder.deliveryDate"  (onDateSelect)="onDeliveryDateChange($event)"
                                 id="delivery" name="deliveryDate"
                                [settings]="datePickerOption">
                            </angular2-date-picker>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="refNo">{{ 'textTranslate.referenceNumber' | translate }}</label>
                            <input type="text" class="form-control" name="refNo" [(ngModel)]="purchaseOrder.refNo"
                                #refNo="ngModel" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="orderNumber">{{ 'textTranslate.number' | translate }}</label>
                            <input type="text" class="form-control" name="orderNumber"
                                [(ngModel)]="purchaseOrder.orderNumber" #orderNumber="ngModel" disabled />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="currency">{{ 'textTranslate.currency' | translate }} <span class="text-danger"> * </span></label>
                            <select class="form-control" id="currency" [(ngModel)]="purchaseOrder.currency" required
                                name="currency" (change)="onCurrencySelectedChange()">
                                <option *ngFor="let c of purchaseOrderLookup.currencies" [ngValue]="c">{{ c.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12"
                        *ngFor="let exchangeRate of purchaseOrder.currency.exchangeRates;let i = index">
                        <div class="form-group">
                            <label for="currency{{i}}">1 {{purchaseOrder.currency.code}} = {{exchangeRate.exchangeRate}}
                                {{exchangeRate.currency.code}}<span class="text-danger"> * </span></label>
                            <input type="number" class="form-control" name="currency{{i}}"
                                (change)="onExchangeRateChange()" [(ngModel)]="exchangeRate.exchangeRate" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-8 col-sm-10">
                        <div class="input-group">
                            <ngx-select-dropdown style="min-width: 400px;" [(ngModel)]="selectProduct"
                                [config]="productDropdownConfig" name="product"
                                [options]="purchaseOrderLookup.products" >
                            </ngx-select-dropdown>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" (click)="addLine()">
                                    <i class="fa fa-plus"></i> {{ 'textTranslate.addLine' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-3">
                        <div class="header-menu">
                            <div class="header-left">
                                <div class="dropdown for-message">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="files" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-file"></i>
                                        <span class="count bg-primary">{{purchaseOrder.attachments.length}}</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="files" style="width: 400px;">
                                        <table class="table table-border">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'textTranslate.document' | translate }}</th>
                                                    <th>{{ 'textTranslate.closeDocument' | translate }}</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let attachment of purchaseOrder.attachments;let i = index">
                                                    <td><a href="{{attachment.fileUrl}}" target="blank">{{attachment.fileName}}</a></td>
                                                    <td><input type="checkbox" name="isFinalOfficalFile{{i}}" [(ngModel)]="attachment.isFinalOfficalFile" (change)="onOfficalFileChange(attachment)"/></td>
                                                    <td><span class="pointer" (click)="onRemoveAttachment(attachment)"><i class="fa fa-times"></i></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                              <input type="file" class="custom-file-input" id="inputGroupFile02" type='file' (change)="fileChange($event)"
                                              accept="image/jpeg,image/png,application/pdf">
                                              <label class="custom-file-label" for="inputGroupFile02" type='file'>{{ 'textTranslate.chooseFile' | translate }}</label>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class="table no-padding-table">
                        <thead>
                            <tr>
                                <th>{{ 'textTranslate.productOrService' | translate }}</th>
                                <th>{{ 'textTranslate.quantity' | translate }}</th>
                                <th>{{ 'textTranslate.unitPrice' | translate }}</th>
                                <th>{{ 'textTranslate.discountRate' | translate }}</th>
                                <th *ngIf="declareTax">{{ 'textTranslate.tax' | translate }}</th>
                                <th *ngIf="showLocation()">{{ 'textTranslate.location' | translate }}</th>
                                <th>{{ 'textTranslate.amount' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orderItem of purchaseOrder.expenseItems;let i = index">
                                <td class="small-font text-table-padding">
                                    {{orderItem.product.name}}
                                    <br/>
                                    {{orderItem.product.productPurchaseInformation.description}}
                                </td>
                                <td class="data-table-padding">
                                    <input type="number" class="small-font form-control text-input-line-item" name="qty{{i}}"
                                        [(ngModel)]="orderItem.quantity" (change)="onOrderItemChange(orderItem)" />
                                </td>
                                <td class="data-table-padding">
                                    <input type="number" class="small-font form-control text-input-line-item" name="price{{i}}"
                                        [(ngModel)]="orderItem.unitPrice" (change)="onOrderItemChange(orderItem)" />
                                </td>
                                <td class="data-table-padding">
                                    <input type="number" class="small-font form-control text-input-line-item" name="discount{{i}}"
                                        [(ngModel)]="orderItem.discountRate" min="0" max="100"
                                        (change)="onOrderItemChange(orderItem)" />
                                </td>
                                <td class="data-table-padding" *ngIf="declareTax">
                                    <select class="small-font form-control text-select-line-item" name="tax{{i}}"
                                        [(ngModel)]="orderItem.taxId" required
                                        (change)="onTaxSelectChange(orderItem)">
                                        <option *ngFor="let c of purchaseOrderLookup.taxes" [ngValue]="c.id">
                                            {{ c.name }}</option>
                                    </select>
                                </td>
                                <td class="data-table-padding" *ngIf="showLocation()">
                                    <select class="small-font form-control text-select-line-item" name="location{{i}}" *ngIf="orderItem.product.trackInventory"
                                        [(ngModel)]="orderItem.locationId">
                                        <option *ngFor="let c of purchaseOrderLookup.locations" [ngValue]="c.id">
                                            {{ c.name }}</option>
                                    </select>
                                </td>
                                <td class="small-font text-table-padding" style="margin-left: 20px;">
                                    {{formatMoney(orderItem.lineTotal,purchaseOrder.currency.code)}}
                                </td>
                                <td class="small-font text-table-padding"> <span class="pointer" (click)="onRemvoePurchaseOrderItem(orderItem)"><i
                                            class="fa fa-times"></i></span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngFor="let subTotal of subTotals">
                                <td [attr.colspan]="getSubTotalColSpan()" style="text-align: right;" class="small-font">{{subTotal.label}}
                                </td>
                                <td class="small-font">
                                    {{formatMoney(subTotal.amount,subTotal.currency.code)}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="note">{{ 'textTranslate.termAndCondition' | translate }}</label>
                            <textarea name="termAndCondition" rows="4" [(ngModel)]="purchaseOrder.termAndCondition"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="note">{{ 'textTranslate.note' | translate }}</label>
                            <textarea name="note" rows="4" [(ngModel)]="purchaseOrder.note"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>