<form class="forms-sample" #f="ngForm" novalidate>
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <div class="form-group">
                        <label for="userName">Email address <span class="text-danger"> * </span></label>
                        <input type="email" class="form-control" name="userName" [(ngModel)]="login.userName" #userName="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required />
                        <div *ngIf="userName.invalid" class="invalid-feedback">
                            <div *ngIf="userName.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id">Password <span class="text-danger"> * </span></label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="login.password" #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                        <div *ngIf="password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30"  (click)="onLogin()">Sign in</button>
                    <div class="social-login-content">
                        <div class="social-button">
                            <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i
                                    class="ti-facebook"></i>Sign in with facebook</button>
                            <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i
                                    class="ti-twitter"></i>Sign in with Google</button>
                            <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i
                                    class="ti-twitter"></i>Sign in with Microsoft</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>