<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'textTranslate.organisation' | translate }}</label>
                        <angular2-multiselect [data]="organisations" [(ngModel)]="selectedOrganisations"
                            [settings]="multipleDropDownSetting"></angular2-multiselect>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'textTranslate.period' | translate }}</label>
                        <select class="form-control" id="perdiod" [(ngModel)]="filter.periodFilter" name="perdiod">
                            <option *ngFor="let c of dashboardPeriodFilters" [ngValue]="c">{{ c.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                        <button type="button" (click)="onApplyFilter()" class="btn btn-primary"
                            style="margin-top: 30px;">{{ 'textTranslate.applyFilter' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 col-lg-4 col-xs-4 col-sm-12" >
            <div class="card">
                <div class="card-body">
                    <h3 class="center">{{ 'textTranslate.profitAndLost' | translate }} ({{currency.code}})</h3>
                    <loading-component *ngIf="showProfitAndLostWating" style="position: absolute;left: 50%;"></loading-component>
                    <canvas baseChart  class="center"
                    [data]="profitAndLostDate.values"
                    [labels]="profitAndLostDate.labels"
                    [colors]="profitAndLostDate.colors"
                    [options]="options"
                    [chartType]="profitAndLostDate.type"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4  col-xs-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="center">{{ 'textTranslate.income' | translate }} ({{currency.code}})</h3>
                    <loading-component *ngIf="showIncomeWating" style="position: absolute;left: 50%;"></loading-component>
                    <canvas baseChart
                    [data]="incomeData.values"
                    [labels]="incomeData.labels"
                    [colors]="incomeData.colors"
                    [options]="options"
                    [chartType]="incomeData.type"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6  col-lg-4  col-xs-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="center">{{ 'textTranslate.expense' | translate }} ({{currency.code}})</h3>
                    <loading-component *ngIf="showExpenseWating" style="position: absolute;left: 50%;"></loading-component>
                    <canvas baseChart
                    [data]="exepnseData.values"
                    [labels]="exepnseData.labels"
                    [colors]="exepnseData.colors"
                    [options]="options"
                    [chartType]="exepnseData.type"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>